In [1]:
import numpy as np
import pandas as pd
import requests
import random
import time
from io import StringIO

In [2]:
# teams =['ATL']

In [3]:
teams = [
    'ATL', 'BOS', 'BRK', 'CHO', 'CHI', 'DAL', 'DEN', 'DET', 'GSW', 'HOU',
    'CLE', 'IND', 'LAC', 'LAL', 'MEM', 'MIA', 'MIL', 'MIN', 'NOP', 'NYK',
    'OKC', 'ORL', 'PHI', 'PHO', 'POR', 'SAC', 'SAS', 'TOR', 'UTA', 'WAS'
]

In [4]:
# team_dict ={
    # 'ATL': 'Atlanta Hawks'}

In [5]:
team_dict ={
    'ATL': 'Atlanta Hawks',
    'BOS': 'Boston Celtics',
    'BRK': 'Brooklyn Nets',
    'CHO': 'Charlotte Hornets',
    'CHI': 'Chicago Bulls',
    'CLE': 'Cleveland Cavaliers',
    'DAL': 'Dallas Mavericks',
    'DEN': 'Denver Nuggets',
    'DET': 'Detroit Pistons',
    'GSW': 'Golden State Warriors',
    'HOU': 'Houston Rockets',
    'IND': 'Indiana Pacers',
    'LAC': 'Los Angeles Clippers',
    'LAL': 'Los Angeles Lakers',
    'MEM': 'Memphis Grizzlies',
    'MIA': 'Miami Heat',
    'MIL': 'Milwaukee Bucks',
    'MIN': 'Minnesota Timberwolves',
    'NOP': 'New Orleans Pelicans',
    'NYK': 'New York Knicks',
    'OKC': 'Oklahoma City Thunder',
    'ORL': 'Orlando Magic',
    'PHI': 'Philadelphia 76ers',
    'PHO': 'Phoenix Suns',
    'POR': 'Portland Trail Blazers',
    'SAC': 'Sacramento Kings',
    'SAS': 'San Antonio Spurs',
    'TOR': 'Toronto Raptors',
    'UTA': 'Utah Jazz',
    'WAS': 'Washington Wizards'
}

In [6]:
seasons =['2024']
#len(seasons)
#print(seasons)

for season in seasons:
  print(season)

2024

In [8]:
# Create an empty DataFrame to append
nba_df = pd.DataFrame()

# Iterate through seasons and teams
for season in seasons:
    for team in teams:
        url = f'https://www.basketball-reference.com/teams/{team}/{season}/gamelog-advanced/'
        print(url)

        response = requests.get(url, headers={'User-agent': 'Mozilla/5.0'})
        visible_html = response.text.replace('<!--', '').replace('-->', '')

        try:
            # Load all columns from the HTML
            team_df = pd.read_html(StringIO(visible_html), header=1)[0]

            # Data cleaning
            team_df = team_df.dropna(subset=['G'])  # Drop rows where 'G' is NaN
            team_df = team_df[team_df['G'] != 'G']  # Remove duplicate header rows

            # Add additional columns
            team_df.insert(0, 'Season', season)
            team_df.insert(2, 'Team', team)
            team_df.insert(3, 'Name', team_dict[team])

            # Append to aggregate DataFrame
            nba_df = pd.concat([nba_df, team_df], ignore_index=True)

        except Exception as e:
            print(f"Failed to process {team} in {season}: {e}")

        # Pause to abide by site rules
        time.sleep(random.randint(4, 6))

# Display all columns in the final DataFrame
print(nba_df.columns)

https://www.basketball-reference.com/teams/ATL/2024/gamelog-advanced/
https://www.basketball-reference.com/teams/BOS/2024/gamelog-advanced/
https://www.basketball-reference.com/teams/BRK/2024/gamelog-advanced/
https://www.basketball-reference.com/teams/CHO/2024/gamelog-advanced/
https://www.basketball-reference.com/teams/CHI/2024/gamelog-advanced/
https://www.basketball-reference.com/teams/DAL/2024/gamelog-advanced/
https://www.basketball-reference.com/teams/DEN/2024/gamelog-advanced/
https://www.basketball-reference.com/teams/DET/2024/gamelog-advanced/
https://www.basketball-reference.com/teams/GSW/2024/gamelog-advanced/
https://www.basketball-reference.com/teams/HOU/2024/gamelog-advanced/
https://www.basketball-reference.com/teams/CLE/2024/gamelog-advanced/
https://www.basketball-reference.com/teams/IND/2024/gamelog-advanced/
https://www.basketball-reference.com/teams/LAC/2024/gamelog-advanced/
https://www.basketball-reference.com/teams/LAL/2024/gamelog-advanced/
https://www.basketball-reference.com/teams/MEM/2024/gamelog-advanced/
https://www.basketball-reference.com/teams/MIA/2024/gamelog-advanced/
https://www.basketball-reference.com/teams/MIL/2024/gamelog-advanced/
https://www.basketball-reference.com/teams/MIN/2024/gamelog-advanced/
https://www.basketball-reference.com/teams/NOP/2024/gamelog-advanced/
https://www.basketball-reference.com/teams/NYK/2024/gamelog-advanced/
https://www.basketball-reference.com/teams/OKC/2024/gamelog-advanced/
https://www.basketball-reference.com/teams/ORL/2024/gamelog-advanced/
https://www.basketball-reference.com/teams/PHI/2024/gamelog-advanced/
https://www.basketball-reference.com/teams/PHO/2024/gamelog-advanced/
https://www.basketball-reference.com/teams/POR/2024/gamelog-advanced/
https://www.basketball-reference.com/teams/SAC/2024/gamelog-advanced/
https://www.basketball-reference.com/teams/SAS/2024/gamelog-advanced/
https://www.basketball-reference.com/teams/TOR/2024/gamelog-advanced/
https://www.basketball-reference.com/teams/UTA/2024/gamelog-advanced/
https://www.basketball-reference.com/teams/WAS/2024/gamelog-advanced/
Index(['Season', 'Rk', 'Team', 'Name', 'G', 'Date', 'Unnamed: 3', 'Opp', 'W/L',
       'Tm', 'Opp.1', 'ORtg', 'DRtg', 'Pace', 'FTr', '3PAr', 'TS%', 'TRB%',
       'AST%', 'STL%', 'BLK%', 'Unnamed: 18', 'eFG%', 'TOV%', 'ORB%', 'FT/FGA',
       'Unnamed: 23', 'eFG%.1', 'TOV%.1', 'DRB%', 'FT/FGA.1'],
      dtype='object')

In [9]:
nba_df

,Season,Rk,Team,Name,G,Date,Unnamed: 3,Opp,W/L,Tm,...,Unnamed: 18,eFG%,TOV%,ORB%,FT/FGA,Unnamed: 23,eFG%.1,TOV%.1,DRB%,FT/FGA.1
0,2024,1,ATL,Atlanta Hawks,1,2023-10-25,@,CHO,L,110,...,NaN,.446,10.0,23.5,.290,NaN,.564,16.3,71.4,.221
1,2024,2,ATL,Atlanta Hawks,2,2023-10-27,NaN,NYK,L,120,...,NaN,.552,12.3,21.4,.276,NaN,.589,13.5,74.5,.222
2,2024,3,ATL,Atlanta Hawks,3,2023-10-29,@,MIL,W,127,...,NaN,.586,14.2,32.5,.194,NaN,.547,19.5,73.3,.186
3,2024,4,ATL,Atlanta Hawks,4,2023-10-30,NaN,MIN,W,127,...,NaN,.640,10.5,12.5,.198,NaN,.578,12.7,76.2,.100
4,2024,5,ATL,Atlanta Hawks,5,2023-11-01,NaN,WAS,W,130,...,NaN,.549,16.5,32.6,.315,NaN,.554,9.3,87.8,.089
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455,2024,78,WAS,Washington Wizards,78,2024-04-05,NaN,POR,L,102,...,NaN,.460,9.0,23.5,.239,NaN,.484,11.1,67.3,.181
2456,2024,79,WAS,Washington Wizards,79,2024-04-07,@,TOR,L,122,...,NaN,.562,12.8,16.3,.247,NaN,.568,11.4,81.4,.219
2457,2024,80,WAS,Washington Wizards,80,2024-04-09,@,MIN,L,121,...,NaN,.607,11.9,17.1,.146,NaN,.578,7.1,77.3,.289
2458,2024,81,WAS,Washington Wizards,81,2024-04-12,NaN,CHI,L,127,...,NaN,.628,10.8,9.3,.221,NaN,.561,10.5,67.3,.194
2459,2024,82,WAS,Washington Wizards,82,2024-04-14,@,BOS,L,122,...,NaN,.544,10.1,17.4,.097,NaN,.663,14.8,73.7,.157

In [10]:
print(nba_df.info())
(nba_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2460 entries, 0 to 2459
Data columns (total 31 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Season       2460 non-null   object
 1   Rk           2460 non-null   object
 2   Team         2460 non-null   object
 3   Name         2460 non-null   object
 4   G            2460 non-null   object
 5   Date         2460 non-null   object
 6   Unnamed: 3   1230 non-null   object
 7   Opp          2460 non-null   object
 8   W/L          2460 non-null   object
 9   Tm           2460 non-null   object
 10  Opp.1        2460 non-null   object
 11  ORtg         2460 non-null   object
 12  DRtg         2460 non-null   object
 13  Pace         2460 non-null   object
 14  FTr          2460 non-null   object
 15  3PAr         2460 non-null   object
 16  TS%          2460 non-null   object
 17  TRB%         2460 non-null   object
 18  AST%         2460 non-null   object
 19  STL%         2460 non-null   object
 20  BLK%         2460 non-null   object
 21  Unnamed: 18  0 non-null      float64
 22  eFG%         2460 non-null   object
 23  TOV%         2460 non-null   object
 24  ORB%         2460 non-null   object
 25  FT/FGA       2460 non-null   object
 26  Unnamed: 23  0 non-null      float64
 27  eFG%.1       2460 non-null   object
 28  TOV%.1       2460 non-null   object
 29  DRB%         2460 non-null   object
 30  FT/FGA.1     2460 non-null   object
dtypes: float64(2), object(29)
memory usage: 595.9+ KB
None

,Season,Rk,Team,Name,G,Date,Unnamed: 3,Opp,W/L,Tm,...,Unnamed: 18,eFG%,TOV%,ORB%,FT/FGA,Unnamed: 23,eFG%.1,TOV%.1,DRB%,FT/FGA.1
0,2024,1,ATL,Atlanta Hawks,1,2023-10-25,@,CHO,L,110,...,NaN,.446,10.0,23.5,.290,NaN,.564,16.3,71.4,.221
1,2024,2,ATL,Atlanta Hawks,2,2023-10-27,NaN,NYK,L,120,...,NaN,.552,12.3,21.4,.276,NaN,.589,13.5,74.5,.222
2,2024,3,ATL,Atlanta Hawks,3,2023-10-29,@,MIL,W,127,...,NaN,.586,14.2,32.5,.194,NaN,.547,19.5,73.3,.186
3,2024,4,ATL,Atlanta Hawks,4,2023-10-30,NaN,MIN,W,127,...,NaN,.640,10.5,12.5,.198,NaN,.578,12.7,76.2,.100
4,2024,5,ATL,Atlanta Hawks,5,2023-11-01,NaN,WAS,W,130,...,NaN,.549,16.5,32.6,.315,NaN,.554,9.3,87.8,.089